1. What are data structures, and why are they important?
- Data Structures are the way to store data in an efficient manner,so that we can access and manuipulate the data.

2.  Explain the difference between mutable and immutable data types with examples?.
- Mutable data types are changeable where as immutable data types cannot be changed.

3. What are the main differences between lists and tuples in Python?
- List are mutable and Tuples are immutable
- Lists are slow compared to Tuple due to dynamic typing
- List are represented using square brackets and tuples are represented using parantheses .
-Lists uses more memory where as tuple uses less memory.

4. Describe how dictionaries store data?
- Dictionaries stores the data in the key value pairs where keys are unique.

5. Why might you use a set instead of a list in Python?
- When you need a data structure with unique values we might use set instead of list.

6.What is a string in Python, and how is it different from a list?
- String is sequence of characters enclosed in quotes.
 - A list in Python is a collection of items (which can be of any data type) enclosed in square brackets []. Lists are used to store multiple values in a single variable.
 - We use strings when we work with text whereas list can be used  when you need a collection of items and plan to modify them.

7. How do tuples ensure data integrity in Python?
- Tuples ensure data integrity in Python by being immutable, meaning their elements cannot be changed, added, or removed after the tuple is created

8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that stores data in key-value pairs, and it provides fast access to values based on their keys.
-Python dictionaries are implemented using hash tables behind the scenes.

Example : my_dict = {"apple": 100, "banana": 200}
-Calculates a hash for "apple"
Finds an index in the internal array
Stores the key-value pair at that index

9. Can lists contain different data types in Python?
- Yes, lists can contain different data types in python.

10. Explain why strings are immutable in Python?
- Strings are immutable in Python to ensure efficiency, safety, consistency, and reliable behavior, especially when dealing with shared data and built-in data structures.

11. What advantages do dictionaries offer over lists for certain tasks?
- Following are the advantages.
1. Fast Lookup by Key
2.Clear Key-Value Pairing
3.Uniqueness of Keys
4.More Expressive and Descriptive


12. Describe a scenario where using a tuple would be preferable over a list?
  - We can use tuple data structure in a scenario where we want to store the employee ids of the an organization as we will not modify the employee ids in an organization.

13. How do sets handle duplicate values in Python?
- When you create a set, Python uses a hash table to store the elements.
-Each element is hashed (using Python’s hash() function).
-If two elements have the same value and hash, Python considers them duplicates and keeps only one.

14. How does the “in” keyword work differently for lists and dictionaries?

- In List in operator   checks whether a value exists as an element in the list whereas in operator in dictionary check if a key is present in dictionary or not.
-To check for the values in dictionary , we can use .values() with in.

15.Can you modify the elements of a tuple? Explain why or why not?
- We cannot modify the elements of a tuple as tuple is an immutable data structure.

16. What is a nested dictionary, and give an example of its use case?
- Having a dictionary insides a dictionary is called nested dictionary.
- An organization stores the details of an employees in dictionary data structure.
- example Tcs_emp_details ={'E001':{'name' : 'sangeetha','dept' : IT, 'salary': 800000},'E001':{'name' : 'Shiv','dept' : Finanace, 'salary': 1000000}}

17. Describe the time complexity of accessing elements in a dictionary?
- Accessing elements in a Python dictionary by key has an average-case time complexity of:
 O(1) — Constant Time

18. In what situations are lists preferred over dictionaries?
-Lists are preferred over Dictionaries when
Order and indexing matter.
You don’t need key-value pairs.
You allow duplicates.
You’re working with sequences of simple items.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries were originally considered unordered because their internal storage didn't preserve insertion order.
- Since Python 3.7, insertion order is preserved, but dictionaries are still not accessed by index.
- This does not affect retrieval by key, which remains fast and reliable using hashing

20. Explain the difference between a list and a dictionary in terms of data retrieval?
- List elements are retrived with indexing where as the dictionary elemets are retrieved with keys as we have customized indexing in dictionaries.

Practical Questions:

1. Write a code to create a string with your name and print it

In [1]:
my_name = 'Sangeetha'
print(my_name)

Sangeetha

2.Write a code to find the length of the string "Hello World"

In [2]:
string1 = 'Hello World'
print(len(string1))

11

3.Write a code to slice the first 3 characters from the string "Python Programming"

In [4]:
string2 = "Python Programming"
string2[0:3]

'Pyt'

4.Write a code to convert the string "hello" to uppercase

In [5]:
string = "hello"
string.upper()

'HELLO'

5.Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [6]:
sentence = "i like apple"
sentence.replace('apple','orange')

'i like orange'

6.Write a code to create a list with numbers 1 to 5 and print it

In [7]:
lis1 =[1,2,3,4,5]
print(lis1)

[1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4]

In [10]:
lis = [1,2,3,4]
lis.append(10)
print(lis)

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [12]:
lis2=[1,2,3,4,5]
lis2.remove(3)
print(lis2)

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [13]:
lis3=['a', 'b', 'c', 'd']
lis3[1]

'b'

10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [17]:
lis4=[10,20,30,40,50]
lis4.reverse()
print(lis4)


lis5=[10,20,30,40,50]
lis5[::-1]

[50, 40, 30, 20, 10]

[50, 40, 30, 20, 10]

11.Write a code to create a tuple with the elements 100, 200, 300 and print it

In [18]:
t = (100,200,300)
print(t)

(100, 200, 300)

12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [19]:
t1=('red', 'green', 'blue', 'yellow')
t1[1:]

('green', 'blue', 'yellow')

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [20]:
t2=(10,20,5,15)
min(t2)

5

14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [21]:
t3= ('dog', 'cat', 'rabbit')
t3.index('cat')

1

15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [22]:
fruits = ('apple','banana','kiwi')
'kiwi' in fruits

True

16.Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [23]:
s = ('a','b','c')
print(s)

('a', 'b', 'c')

 17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [24]:
s1 = {1,2,3,4,5}
s1.clear()
print(s1)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [25]:
s2 = {1,2,3,4}
s2.remove(4)
print(s2)

{1, 2, 3}

19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [26]:
u1 = {1,2,3}
u2 = {3,4,5}
u1 | u2

{1, 2, 3, 4, 5}

20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [27]:
set1 = {1,2,3}
set2 = {2,3,4}
set1 & set2

{2, 3}

21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [28]:
basic_details = {'name':'sangeetha','age':25,'city':'hyderabad'}
print(basic_details)

{'name': 'sangeetha', 'age': 25, 'city': 'hyderabad'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [29]:
basic_details = {'name':'John','age':25}
basic_details['country'] = 'USA'
print(basic_details)

{'name': 'John', 'age': 25, 'country': 'USA'}

23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [30]:
dic = {'name': 'Alice', 'age': 30}
dic['name']

'Alice'

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [31]:
dic1 =  {'name': 'Bob', 'age': 22, 'city': 'New York'}
dic1.pop('age')
print(dic1)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [32]:
dic2 = {'name': 'Alice', 'city': 'Paris'}
'city' in dic2

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [33]:
list1 = [1,2,3,"pinky","yuki"]
print(list1)

tuple1 = (1,2,3,"pinky","yuki")
print(tuple1)

dict1 = {'name':'sangeetha','age':25,'city':'hyderabad'}
print(dict1)

[1, 2, 3, 'pinky', 'yuki']
(1, 2, 3, 'pinky', 'yuki')
{'name': 'sangeetha', 'age': 25, 'city': 'hyderabad'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [37]:
lis_numbers = [20,35,50,78,99]
lis_numbers.sort()
print(lis_numbers)

[20, 35, 50, 78, 99]

28.Write a code to create a list with strings and print the element at the third index.

In [38]:
strings_list = ['Sangeetha','Pinky','Vijay','Pranjal','Arun']
strings_list[3]

'Pranjal'

29.Write a code to combine two dictionaries into one and print the result.

In [39]:
details = {'name':'sangeetha', 'age': 25, 'role':'data engineer'}
loc = {'city':'hyderabad','country':'India'}
details.update(loc)
print(details)

{'name': 'sangeetha', 'age': 25, 'role': 'data engineer', 'city': 'hyderabad', 'country': 'India'}

30. Write a code to convert a list of strings into a set.

In [41]:
list_strings = ['Sangeetha','Pinky','Vijay','Pranjal','Arun','Pinky']
set(list_strings)

{'Arun', 'Pinky', 'Pranjal', 'Sangeetha', 'Vijay'}